<div class="subheader">
    <h2 id="page-heading" class="subheader-x-title">Change Password</h2>
</div>

<form [formGroup]="updatePasswordForm" (ngSubmit)="submitForm($event)" class="l-form background background-light">
    <div class="l-form-x-leftcol">
        <div class="l-form-x-textfield">
            Enter your current password to verify it’s you, then create a new password.
        </div>
        <div class="l-form-x-textfield">
            <div class="formtextfield" [class.formtextfield-is-error]="updatePasswordForm.get('old_password').dirty && updatePasswordForm.get('old_password').invalid" >
                <label for="old_password">Current Password</label>
                <input formControlName="old_password" id="old_password" type="password">
                <div *ngIf="updatePasswordForm.get('old_password').dirty && updatePasswordForm.get('old_password').invalid" class="formtextfield-x-error">Error.</div>
            </div>
        </div>
        <div class="l-form-x-textfield">
            <div class="formtextfield" [class.formtextfield-is-error]="updatePasswordForm.get('new_password').dirty && updatePasswordForm.get('new_password').invalid" >
                <label for="new_password">New Password</label>
                <input formControlName="new_password" iid="new_password" type="password">
                <div *ngIf="updatePasswordForm.get('new_password').dirty && updatePasswordForm.get('new_password').invalid" class="formtextfield-x-error">Error.</div>
            </div>
        </div>
        <div class="l-form-x-submit">
            <button [disabled]="! updatePasswordForm.valid" class="formbutton" type="submit">Change Password</button>
        </div>
    </div>
    <div class="l-form-x-rightcol background background-formimage"></div>
</form>
