<div class="subheader">
    <h3 id="page-heading">Recover Password</h3>
</div>

<form class="l-form background background-light">
    <div class="l-form-x-leftcol">
        <div class="l-form-x-textfield">
            Create a new password and you’re good to go.
        </div>
        <div class="l-form-x-textfield">
            <div class="formtextfield">
                <label for="formtextfield1">New Password</label>
                <input id="formtextfield1" type="password">
            </div>
        </div>
        <div class="l-form-x-submit">
            <button [routerLink]="['/project', 'list']" class="formbutton" type="submit">Change Password</button>
        </div>
    </div>
    <div class="l-form-x-rightcol background background-formimage"></div>
</form>
