<div class="subheader subheader-cols subheader-error subheader-error-single">
    <div class="subheader-x-leftcol">
        <div class="icontext icontext-nocircle icontext-smallicon">
            <span class="icontext-x-icon">
                <svg alt="Icon">
                    <use xlink:href="#icon-alertdark"></use>
                </svg>
            </span>
        </div>
    </div>
    <div class="subheader-x-middlecol">
        <h3 class="subheader-x-title"><span>404</span> Not Found</h3>
    </div>
</div>

<div class="l-message l-message-error background background-light">
    <div class="message">
        <p>Please make sure you're signed in and check your URL.</p>
        <a href="#">Go back to your projects dashboard.</a>
    </div>
</div>
