<div class="subheader">
    <h2 id="page-heading" class="subheader-x-title">Recover Password</h2>
</div>

<form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm($event)" class="l-form background background-light">
    <div class="l-form-x-leftcol">
        <div class="l-form-x-textfield">
            Enter your account email address and we’ll send you a recovery link.
        </div>
        <div class="l-form-x-textfield">
            <div class="formtextfield" [class.formtextfield-is-error]="forgotPasswordForm.get('email').dirty && forgotPasswordForm.get('email').invalid" >
                <label for="email">Email Address</label>
                <input formControlName="email" id="email" type="email">
                <div *ngIf="forgotPasswordForm.get('email').dirty && forgotPasswordForm.get('email').invalid" class="formtextfield-x-error">Error.</div>
            </div>
        </div>
        <div class="l-form-x-submit">
            <button [disabled]="! forgotPasswordForm.valid" class="formbutton" type="submit">Send Link</button>
        </div>
    </div>
    <div class="l-form-x-rightcol background background-formimage"></div>
</form>
